@if(error() && error()!.title && error()!.message){
<app-modal-dialog
  [title]="error()!.title"
  [message]="error()!.message"
  image="../assets/img/no_data.svg"
  actionLabel="Close"
></app-modal-dialog>
} @if(modal()){
<app-modal-dialog
  [title]="modal()?.title"
  [message]="modal()?.message"
  [actionLabel]="modal()?.actionLabel"
  [image]="modal()?.image"
></app-modal-dialog>
}
<html class="h-full bg-white">
  <body class="h-full">
    <app-header />
    <router-outlet />
  </body>
</html>
